<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dev0ko.ewelp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:name=".WelpApplication"
        tools:targetApi="31">


        <activity
            android:name="com.dev0ko.ewelp.presentation.ui.home.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="true" />

        <activity
            android:name="com.dev0ko.ewelp.presentation.ui.home.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dev0ko.ewelp.presentation.ui.image.ListOfImagesActivity"
            android:exported="false" />
        <activity
            android:name="com.dev0ko.ewelp.presentation.ui.image.DisplayFullImageActivity"
            android:exported="false" />

        <uses-library android:name="android.test.runner"

            android:required="false" />
    </application>

</manifest>